* {
	box-sizing: border-box;
}

.jersey-10-regular {
	font-family: "Jersey 10", sans-serif;
	font-weight: 400;
	font-style: normal;
}

html,
body {
	font-family: "Jersey 10", Arial, Helvetica, sans-serif;
	color: #e2e2e2;
	background-color: #575757;
	margin: 0;
	height: 100%;
	width: 100%;
	position: relative;
	overflow: auto;
}

a:link,
a:active,
a:visited {
	color: #41142e;
}

time {
	letter-spacing: 1px;
}

header {
	background-color: #41142e;
	color: #F2F2F2;
	position: sticky;
	top: 0;
	padding: 30px;
	z-index: 99;
}

footer {
	background-color: #41142e;
	color: #F2F2F2;
	padding: 10px;
	text-align: center;
	position: relative;
	width: 100%;
	bottom: 0;
}

#align {
	display: flex;
	padding: 3px;
	justify-content: center;
	align-items: center;
}

.center {
	display: flex;
	height: 450px;
}

.center_child {
	margin: auto;
}

.menu {
	position: relative;
	display: inline-block;
}

.sousMenu {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 2;
	top: 0;
	left: 0;
	background-color: #575757;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
}

.sousMenu a {
	padding: 8px 8px 8px 32px;
	position: relative;
	text-decoration: none;
	text-align: center;
	font-size: 300%;
	padding: 1%;
	color: #F2F2F2;
	display: block;
	transition: 0.3s;
}

.sousMenu a:hover {
	background-color: #f2f2f268;
}

.sousMenu .closeMenu {
	margin-top: 10px;
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

#purple {
	background-color: #41142e;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

#green {
	background-color: #184434;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.animation {
	transition: transform .2s;
	margin: 10px;
}

.animation:hover {
	transform: scale(1.5);
}

.animation2 {
	transition: transform .1s;
	margin: 20px;
}

.animation2:hover {
	transform: scale(1.25);
}

.show {
	display: block;
}

#nour,
#alexia,
#BANCAL {
	display: block;
	margin: auto;
	width: 50%;
	padding: 10px;
	background-color: #575757;
	border: 10px solid #41142e;
	border-radius: 20px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	animation-name: zoom;
	animation-duration: 0.6s;
}

#clemence,
#lea-angelina,
#baptiste,
#pb1,
#pb2,
#pb3,
#pb4,
#pb5 {
	display: block;
	margin: auto;
	width: 50%;
	padding: 10px;
	background-color: #575757;
	border: 10px solid #184434;
	border-radius: 20px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	animation-name: zoom;
	animation-duration: 0.6s;
}

@keyframes zoom {
	from {
		transform: scale(0)
	}

	to {
		transform: scale(1)
	}
}

#alexia p,
#nour p,
#clemence p,
#baptiste p,
#lea-angelina p,
#pb1 p,
#pb2 p,
#pb3 p,
#pb4 p,
#pb5 p {
	padding: 10px;
}

#popUpClemence,
#popUpNour,
#popUpLeaAngelina,
#popUpAlexia,
#popUpBaptiste,
#popUpBANCAL,
#popUpPb1,
#popUpPb2,
#popUpPb3,
#popUpPb4,
#popUpPb5 {
	width: 100%;
	height: 100%;
	display: none;
	position: fixed;
	top: 0px;
	left: 0px;
	background-color: rgba(0, 0, 0, 0.5);
}

.toto {
	position: relative;
}

.titi {
	margin: 0;
	padding: 10px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.tutu {
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	position: absolute;
	margin: 0;
	right: 0px;
}

#grid2 {
	display: grid;
	width: fit-content;
	grid-template-columns: repeat(2, auto);
	grid-gap: 1px;
	align-items: center;
}

#grid3 {
	display: grid;
	grid-template-columns: repeat(3, auto);
	grid-gap: 50px;
	align-items: center;
}

#corner_purple {
	border: #41142e solid #0000;
	--_g: #0000 90deg, #41142e 0;
	--_p: 20px 20px border-box no-repeat;
	background: conic-gradient(from 90deg at top 5px left 5px, var(--_g)) 0 0 / var(--_p),
		conic-gradient(from 180deg at top 5px right 5px, var(--_g)) 100% 0 / var(--_p),
		conic-gradient(from 0deg at bottom 5px left 5px, var(--_g)) 0 100% / var(--_p),
		conic-gradient(from -90deg at bottom 5px right 5px, var(--_g)) 100% 100% / var(--_p);
	;
}

#corner_green {
	border: #184434 solid #0000;
	--_g: #0000 90deg, #184434 0;
	--_p: 50px 50px border-box no-repeat;
	background: conic-gradient(from 90deg at top 7px left 7px, var(--_g)) 0 0 / var(--_p),
		conic-gradient(from 180deg at top 7px right 7px, var(--_g)) 100% 0 / var(--_p),
		conic-gradient(from 0deg at bottom 7px left 7px, var(--_g)) 0 100% / var(--_p),
		conic-gradient(from -90deg at bottom 7px right 7px, var(--_g)) 100% 100% / var(--_p);
	;
}

::-webkit-scrollbar {
	display: none;
}

.timeline {

	h1,
	ul li .content h2 {
		text-shadow: 1px 1px 1px rgba(56, 56, 56, 0.5);
	}

	ul {
		padding-right: 40px;

		li {
			background: #184434;
			position: relative;
			margin: 0 auto;
			width: 5px;
			padding-bottom: 40px;
			list-style-type: none;

			&:last-child {
				padding-bottom: 10px;
			}

			&:before {
				content: '';
				background: #575757;
				position: absolute;
				left: 50%;
				top: 0;
				transform: translateX(-50%);
				width: 20px;
				height: 20px;
				border: 3px solid #184434;
				border-radius: 50%;
			}

			.hidden {
				opacity: 0;
			}

			.content {
				background: #184434;
				position: relative;
				top: 7px;
				width: 450px;
				padding: 10px;

				h2 {
					text-align: center;
				}

				p {
					text-align: center;
				}

				&:before {
					content: '';
					background: #184434;
					position: absolute;
					top: 0px;
					width: 38px;
					height: 5px;
				}
			}

			&:nth-child(odd) .content {
				left: 50px;
				background: #184434;
			}

			&:nth-child(odd) .content:before {
				left: -38px;
			}

			&:nth-child(even) .content {
				left: calc(-450px - 45px);
				background: #184434;
			}

			&:nth-child(even) .content:before {
				right: -38px;
			}
		}
	}
}